.header {
	background-color: #ffffff;
	margin-top: 2rem;
}

.headerNav {
	padding: 20px 0;
}

.menuBody {
	box-sizing: border-box;
}

.headerMenu {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.menuLink {
	display: block;
	padding: 3px 10px;
	color: #000000;
	text-decoration: none;
	font-size: 1.5rem;
	transition: all .3s;
}

.item {
	display: inline-block;
}